# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.venv
*.env

# IDE/editor files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Python distribution files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/

# Test and coverage reports
.coverage
nosetests.xml
coverage.xml
*.cover
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# mypy
.mypy_cache/

# Python packaging
pip-log.txt
pip-delete-this-directory.txt
*.manifest
*.spec

# System files
.DS_Store
Thumbs.db
